<!-- templates/alunos/novo.html -->
{% extends "base.html" %}
{% block title %}{% if aluno %}Editar Aluno{% else %}Novo Aluno{% endif %}{% endblock %}
{% block content %}
    <h1>{% if aluno %}Editar Aluno{% else %}Novo Aluno{% endif %}</h1>
    <form method="POST" action="{% if aluno %}{{ url_for('alunos.atualizar_aluno', id=aluno.id) }}{% else %}{{ url_for('alunos.novo_aluno') }}{% endif %}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" value="{% if aluno %}{{ aluno.nome }}{% endif %}" required>
        </div>
        <div class="form-group">
            <label for="cpf">CPF</label>
            <input type="text" class="form-control" id="cpf" name="cpf" value="{% if aluno %}{{ aluno.cpf }}{% endif %}" required>
        </div>
        <div class="form-group">
            <label for="data_nascimento">Data de Nascimento</label>
            <input type="date" class="form-control" id="data_nascimento" name="data_nascimento" value="{% if aluno %}{{ aluno.data_nascimento.strftime('%Y-%m-%d') }}{% endif %}" required>
        </div>
        <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="text" class="form-control" id="telefone" name="telefone" value="{% if aluno %}{{ aluno.telefone }}{% endif %}">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{% if aluno %}{{ aluno.email }}{% endif %}">
        </div>
        <div class="form-group">
            <label for="endereco">Endereço</label>
            <input type="text" class="form-control" id="endereco" name="endereco" value="{% if aluno %}{{ aluno.endereco }}{% endif %}">
        </div>
        <div class="form-group">
            <label for="responsavel">Responsável</label>
            <input type="responsavel" class="form-control" id="responsavel" name="responsavel" value="{% if aluno %}{{ aluno.responsavel }}{% endif %}">
        </div>
        <div class="form-group">
            <label for="contato_emergencia">Contato de emergencia</label>
            <input type="contato_emergencia" class="form-control" id="contato_emergencia" name="contato_emergencia" value="{% if aluno %}{{ aluno.contato_emergencia }}{% endif %}">
        </div>
        <button type="submit" class="btn btn-primary">{% if aluno %}Salvar Alterações{% else %}Cadastrar{% endif %}</button>
        <a href="{{ url_for('alunos.listar_alunos') }}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}