{% extends "base.html" %}

{% block content %}
<a href="{{ url_for('matriculas.nova_matricula') }}" class="btn btn-primary mb-3">Nova Matricula</a>

<div class="container mt-5">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>
                    <ul class="list-unstyled">
                        {% for matricula in matriculas %}
                        <li>
                            <strong>Aluno:</strong> {{ matricula.aluno.nome }}<br>
                            <strong>Plano:</strong> {{ matricula.plano_id }}<br>
                            <strong>Status:</strong> {{ matricula.status }}<br>
                            <strong>Data de Matrícula:</strong> {{ matricula.data_matricula }}<br>
                            <form method="POST" action="{{ url_for('matriculas.alterar_status_matricula', matricula_id=matricula.id) }}" style="display:inline;">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <button type="submit" class="btn btn-sm {% if matricula.status == 'ativo' %}btn-warning{% else %}btn-success{% endif %}">
                                    {% if matricula.status == 'ativo' %}Trancar Matrícula{% else %}Retomar Plano{% endif %}
                                </button>
                            </form>
                            <form method="POST" action="{{ url_for('matriculas.excluir_matricula', id=matricula.id) }}" style="display:inline;">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir esta matrícula?');">
                                    Excluir
                                </button>
                            </form>
                        </li>
                        <hr>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}