<!-- templates/modalidades/nova.html -->
{% extends "base.html" %}
{% block title %}{% if modalidade %}Editar Modalidade{% else %}Nova Modalidade{% endif %}{% endblock %}
{% block content %}
    <h1>{% if modalidade %}Editar Modalidade{% else %}Modalidade{% endif %}</h1>
    <form method="POST" action="{% if modalidade %}{{ url_for('atualizar_modalidade', id=modalidade.id) }}{% else %}{{ url_for('nova_modalidade') }}{% endif %}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" value="{% if modalidade %}{{ modalidade.nome }}{% endif %}" required>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">{% if modalidade %}Salvar Alterações{% else %}Cadastrar{% endif %}</button>
        <a href="{{ url_for('listar_modalidades') }}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}